* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

/* custom scroll bar */
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: #888;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.navbar {
  position: fixed;
  width: 100%;
  padding: 30px 0;
  transition: all 0.3s ease;
  z-index: 99;
}

.navbar.sticky {
  padding: 15px 0;
  color: black;
  background: #fff;
}

.navbar .max-width {
  width: 1024px;
}

.navbar li:hover {
  background: #0f65b2;
}

.menu ul li a{
  color: #111 !important;
}

.menu .dropdown-menu li a{
  color: black !important;
}

.home {
  background: url("/images/darkcomputer.png") no-repeat center !important;
  background-size: cover;
  background-position: center !important;
  object-fit: cover !important;
  height: 100vh !important;
  color: #fff;
  z-index: 99999;
}

.home .max-width {
  
}
